# direnv + nix-direnv: `direnv allow` drops you into the flake's devShell
# (Rust toolchain + the .tools CLI fleet) on cd. Requires nix-direnv:
# https://github.com/nix-community/nix-direnv
use flake
